<a href="https://colab.research.google.com/github/Rashmi-Deoli/IPL2020/blob/main/IPL2020PredAnlys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#https://www.kaggle.com/vaishaligarg/analysing-ipl-data/execution

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

Introduction :
We have the Indian Premier League data from 2008 to 2016. We have two files to begin with. Matches - giving us details of each match played. Deliveries - all the deliveries in all the matches put together. We would work on these two files to extract data on each match, batsmen and bowlers.

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action = "ignore", category = FutureWarning)

matches = pd.read_excel("/content/drive/My Drive/IPL-Prediction-2020-WK1/matches.xlsx")
matches["type"] = "pre-qualifier"
for year in range(2008, 2017):
   final_match_index = matches[matches['season']==year][-1:].index.values[0]
   matches.loc[final_match_index, "type"]="final"
   matches.loc[final_match_index-1, "type"]="qualifier-2"
   matches.loc[final_match_index-2, "type"]="eliminator"
   matches.loc[final_match_index-3, "type"]="qualifier-1"

matches.groupby(["type"])["id"].count()
matches.head()

   id  season        city  ...         umpire2 umpire3           type
0  60    2008   Bangalore  ...     RE Koertzen     NaN  pre-qualifier
1  61    2008  Chandigarh  ...      SL Shastri     NaN  pre-qualifier
2  62    2008       Delhi  ...  GA Pratapkumar     NaN  pre-qualifier
3  63    2008      Mumbai  ...       DJ Harper     NaN  pre-qualifier
4  64    2008     Kolkata  ...     K Hariharan     NaN  pre-qualifier

[5 rows x 19 columns]

In [ ]:


deliveries = pd.read_csv("/content/drive/My Drive/IPL-Prediction-2020-WK1/deliveries.csv")
deliveries.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

Add team score and team extra columns for each match, each inning.

In [ ]:
team_score = deliveries.groupby(['match_id', 'inning'])['total_runs'].sum().unstack().reset_index()
team_score.columns = ['match_id', 'Team1_score', 'Team2_score', 'Team1_superover_score', 'Team2_superover_score']
team_score.rename(columns={'total_runs':'Team2_score'},inplace=True)
matches_agg = pd.merge(matches, team_score, left_on = 'id', right_on = 'match_id', how = 'outer')

team_extras = deliveries.groupby(['match_id', 'inning'])['extra_runs'].sum().unstack().reset_index()
team_extras.columns = ['match_id', 'Team1_extras', 'Team2_extras', 'Team1_superover_extras', 'Team2_superover_extras']
matches_agg = pd.merge(matches_agg, team_extras, on = 'match_id', how = 'outer')

#Reorder the columns to make the data more readable
cols = ['match_id', 'season','city','date','team1','team2', 'toss_winner', 'toss_decision', 'result', 'dl_applied', 'winner', 'Team1_score','Team2_score', 'win_by_runs', 'win_by_wickets', 'Team1_extras', 'Team2_extras', 'Team1_superover_score', 'Team2_superover_score', 'Team1_superover_extras', 'Team2_superover_extras', 'player_of_match', 'type', 'venue', 'umpire1', 'umpire2', 'umpire3']
matches_agg = matches_agg[cols]
matches_agg.head(2)

ValueError: ignored